
/* ================== mobil first =================== */
/* this site is build for mobil first and 
   media query (min-with: 768px) for tablet and
   (min-with: 1200px) fot desktop */
/* =================================================== */


/* =========== navbar & bannière ========== */
header {
  height: 45vh;
  background: linear-gradient(rgba(0, 0, 0, 0.3), rgb(33, 37, 41)),
    url(medias/fond-accueil.webp) no-repeat;
    background-size: cover;
}


#img-accueil-1, #img-accueil-2 {
    display: none; 
}

/* ============== services ============== */
div.card-1 {
    background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.3)),
    url(medias/salon-expo.webp) center center no-repeat;
}

div.card-2 {
    background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.9)),
    url(medias/artiste-rue.webp) center center no-repeat;
    background-size: cover;
}

div.card-3 {
    background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.9)),
    url(medias/murs-resto.webp) center center no-repeat;
    
}

/* =============== team =============== */
.card-team img {
    width: 200px;
}

.card-team i {
    width: 100px;
}



/* =============== footer ============== */
footer {
    height: 20vh;
    background: linear-gradient(rgb(33, 37, 41), rgba(0, 0, 0, 0.2) ),
    url(medias/fond-accueil.webp) no-repeat;
    background-size: cover;
}

footer > div {
    height: 20vh;
}



/* ===================== media query ====================== */
/* ======================================================== */
@media screen and (min-width: 768px) {
    header {
        height: 50vh;
    }

    header div.collapse {
        display: flex;
        justify-content: end;
    }
    
    header ul li {
        margin-right: 25px;
    }

    #img-accueil-1 {
        display: initial;
        border-radius: 5px;
        position: relative;
        top: 50px;
        left: 50px;
        width: 70%;
        max-width: 450px;
    }

    /* ======= contact form ======= */
    form {
        max-width: 750px;
        margin: 50px auto;
    }
}

@media screen and (min-width: 1200px) {
    #img-accueil-1 {
        display: initial;
        border-radius: 5px;
        position: relative;
        top: 50px;
        left: 80px;
        width: 45%;
        max-width: 500px;
    }

    #img-accueil-2 {
        display: initial;
        z-index: 1;
        border-radius: 5px;
        position: relative;
        top: 150px;
        left: 150px;
        width: 30%;
        max-width: 350px;
    }
}
