header {
  height: 50vh;
  background: linear-gradient(rgba(0, 0, 0, 0.3), rgb(33, 37, 41)),
    url(medias/fond-accueil.webp) center center no-repeat;
    background-size: cover;
}

#services h2 {
    color: #a0679b;
}

div.card-1 {
    background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.3)),
    url(medias/salon-expo.webp) center center no-repeat;
}

div.card-2 {
    background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.9)),
    url(medias/artiste-rue.webp) center center no-repeat;
    background-size: cover;
}

div.card-3 {
    background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.9)),
    url(medias/murs-resto.webp) center center no-repeat;
    
}

div.card-4 {
    background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.8)),
    url(medias/fond-accueil.webp) center center no-repeat;
}

footer {
    height: 10vh;
    background: linear-gradient(rgb(33, 37, 41), rgba(0, 0, 0, 0.2) ),
    url(medias/fond-accueil.webp) center center no-repeat;
    background-size: cover;
}

